h2 {
     font-family:'Petit Formal Script', cursive;
     font-size: 40px;
     padding: 10px;
 }
 h3 {
     font-family:'Petit Formal Script', cursive;
     font-size: 30px;  
     padding: 5px;
 }
p {
     font-size: medium;
}