.palette {
    display: block;
    height: 30px;
    width: 30px;
    // border: black solid 1px;
    padding: 20px;
    margin: 15px;
    &.mainblue {
        background-color: #104E85;
    }
    &.smokyblue {
        background-color: #2A6C94;
    }
    &.mainpink {
        background-color: #EF7E7F;
    }
    &.samon {
        background-color: #DF4456;
    }
    &.accent {
        background-color: #8F1926;
    }
}
$background-color1: #104E85;
$background-color2: #2A6C94;
$background-color3: #EF7E7F;
$background-color4: #DF4456;
$background-color5: #8F1926;
$background-color6: white;
$color1:  #104E85;
$color2:  #2A6C94;
$color3:  #EF7E7F;
$color4:  #DF4456;
$color:5 #8F1926;
$color6: white;
